/*GENERAL*/
:root {
    --main-color: #0065FC; /* var(--main-color) */
    --second-color: #DEEBFF; /* var(--second-color) */
    --light-grey-color: #F2F2F2; /* var(--light-grey-color) */
  }

body {
	margin-top: 0px;
    font-family: "Raleway", sans-serif;
    
} 

header {
    width: 100%;
    /* max-width: 1400px; */

}

html {
    font-family: "Raleway", sans-serif; 
}

a {
    text-decoration: none;
    color: black;
}

/* Header */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    
}

.Logo-booki {
    width: 62px;
    height: 20px;
       
}

nav ul {
    display: flex;
    list-style: none;
    margin-top: 0px;

}

nav li {
    margin: 0px 10px 0px 20px;
    color: black; 
    font-family:"Raleway";
    padding-top: 20px;
   
}


nav li:hover {
    color: var(--main-color);
    border-top: 2px solid;
    padding-top: 20px;
    

}


/* main-section-search */

main {
    margin: 0px;
    max-width: 1400px;
    padding-left: 20px;
    padding-right: 20px;

}


h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
  
p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 16px;
    position: absolute;
    width: 132px;
    height: 49px;
    left: 247px;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

fas fa-map-marker-alt {
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.main-location {
    display: flex;
    left: 0%;
    right: 84.94%;
    top: 0%;
    bottom: 0%;

}

.icon-location {
    background-color: #f2f2f2;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    padding: 0px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;

  }

.search-location input {
    background-color: #FFFFFF;
    font-weight: bold;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    width: 150px;
    padding-left: 15px;
}

.search-location button {
    background-color: #0065fc;
    color: white;
    border-radius: 0px 15px 15px 0px;
    height: 50px;
    border-style: none;
    width: 100px;
}





