/*GENERAL*/
:root {
    --main-color: #0065FC;
    /* var(--main-color) */
    --second-color: #DEEBFF;
    /* var(--second-color) */
    --light-grey-color: #F2F2F2;
    /* var(--light-grey-color) */
}

body {
    margin-top: 0px;
    font-family: "Raleway", sans-serif;

}

header {
    width: 100%;
    /* max-width: 1400px; */

}

html {
    font-family: "Raleway", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* Header */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;

}

.Logo-booki {
    width: 62px;
    height: 20px;

}

nav ul {
    display: flex;
    list-style: none;
    margin-top: 0px;

}

nav li {
    margin: 0px 10px 0px 20px;
    color: black;
    font-family: "Raleway";
    padding-top: 20px;

}


nav li:hover {
    color: var(--main-color);
    border-top: 2px solid;
    padding-top: 20px;


}


/* main-section-search */

main {
    margin: 0px;
    max-width: 1400px;
    padding-left: 20px;
    padding-right: 20px;

}


h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 16px;
    position: absolute;
    width: 132px;
    height: 49px;
    left: 247px;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

.main-location {
    display: flex;
    left: 0%;
    right: 84.94%;
    top: 0%;
    bottom: 0%;

}

.icon-location {
    background-color: #f2f2f2;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    padding: 0px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;

}

.search-location input {
    background-color: #FFFFFF;
    font-weight: bold;
    border: 1px solid #F2F2F2;
    width: 150px;
    padding-left: 15px;
}

.search-location input:focus {
    outline: 1px solid #F2F2F2;
}

.search-location button {
    background-color: #0065fc;
    color: white;
    border-radius: 0px 15px 15px 0px;
    height: 50px;
    border-style: none;
    width: 100px;
}

/* main-section-filtres */

.filtres {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
    margin-top: 40px;
    width: 70%;
}

.filtres-list-eco {
    display: flex;
    justify-content: space-between;
    border: 2px solid #f2f2f2;
    border-radius: 30px 25px 25px 30px;
    font-weight: bold;
    color: black;
    width: 125px;
    height: 40px;
    align-items: center;
    PADDING: 7px 15px 7px 15px;
}

.icon-price {
    color: #0065fc;
    cursor: pointer;
}

.filtres-list-price :hover {
    background-color: #DEEBFF;
    color: black;
    cursor: pointer;
}

.filtres-list-fam {
    display: flex;
    justify-content: space-between;
    border: 2px solid #f2f2f2;
    border-radius: 30px 25px 25px 30px;
    font-weight: bold;
    color: black;
    width: 75px;
    height: 40px;
    align-items: center;
    PADDING: 7px 15px 7px 15px;
}

.icon-family {
    color: #0065fc;
    cursor: pointer;
}

.filtres-list-family :hover {
    background-color: #DEEBFF;
    color: black;
    cursor: pointer;
}

.filtres-list-rom {
    display: flex;
    justify-content: space-between;
    border: 2px solid #f2f2f2;
    border-radius: 30px 25px 25px 30px;
    font-weight: bold;
    color: black;
    width: 120px;
    height: 40px;
    align-items: center;
    PADDING: 7px 15px 7px 15px;
}

.icon-romantic {
    color: #0065fc;
    cursor: pointer;
}

.filtres-list-romantic :hover {
    background-color: #DEEBFF;
    color: black;
    cursor: pointer;
}

.filtres-list-ani {
    display: flex;
    justify-content: space-between;
    border: 2px solid #f2f2f2;
    border-radius: 30px 25px 25px 30px;
    font-weight: bold;
    color: black;
    width: 165px;
    height: 40px;
    align-items: center;
    PADDING: 7px 15px 7px 15px;
}

.icon-animal {
    color: #0065fc;
    cursor: pointer;
}

.filtres-list-animal :hover {
    background-color: #DEEBFF;
    color: black;
    cursor: pointer;
}

/* main-section-info */

.info {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
    margin-top: 40px;
}

.icon-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 10px;
    padding: 10px;
    border: 2px solid #f2f2f2;
    color: #0065fc;
    border-radius: 50%;
}

.text-info {
    margin-left: 20px;
    font-family: 'Raleway';
    font-style: normal;
    color: #000000;
}



